/* Global styles */
.alert {
		margin: 10px 0px 0px 5px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

/* Group selector */
#group-selector {
	margin-top: 30px;
}
#group-selector select {
	height: 30px;
	border-color: #cccccc;
	width: 80%;
	background-color: white;
}

/* Footer styles*/
#footer {
	border-top: 1px solid #ddd;
	padding-top: 10px;
}