{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="uk">
	<head>
		<meta charset="UTF-8"/>
		<title>Сервіс Обліку Студентів - {% block meta_tittle %}{% endblock meta_tittle %}</title>
		<meta name="description"
		value="Система Обліку Студентів Навчального Закладу" />

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Include Styles -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.0.js"></script>
		<link rel="stylesheet"
			href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
		<link rel="stylesheet"
			href=" {{request.scheme}}://{{request.get_host}}{% static "css/main.css" %}">
			{% block extra_css %}{% endblock extra_css %}
	</head>

	<body>
		<!-- Start container -->
		<div class="container">
		
			<!-- Start Header -->
			<div class="row" id="header">
				<div class="col-xs-8">
					<h1>Сервіс Обліку Студентів</h1>
				</div>
				<div class="col-xs-4" id="group-selector">
					<strong>Група:</strong>
					<select>
						<option value="">Усі Cтуденти</option>
						<option value="">ДП-22, Superman</option>
						<option value="">ДП-22, Batman</option>
						<option value="">ДП-22, Joker</option>
					</select>
				</div>
			</div>
				<!-- End Header -->
				<!-- Start sub-header -->
				<div class="row" id="sub-header">
					<div class="col-xs-12">
						<ul class="nav nav-tabs" role="tablist">
						  <li role="presentation" {% if request.path == "/"  %}class="active"{% endif %}><a href="{% url "home" %}">Студенти</a></li>
						  <li role="presentation" {% if "/journal" in request.path %}class="active"{% endif %}><a href="{% url "journal" %}">Відвідування</a></li>
						  <li role="presentation" {% if "/groups" in request.path %}class="active"{% endif %}><a href="{% url "groups" %}">Групи</a></li>
						  <li role="presentation" {% "/exams" in request.path  %}class="active"{% endif %}><a href="{% url "exams" %}">Іспити</a></li>
						</ul>
					</div>
				</div>
				<!-- End sub-header -->

				<!-- Start content-columns -->
				<div class="row" id="content-columns">
					<div class="col-xs-12" id="content-column">
						<h2>{% block tittle %}{% endblock tittle %}</h2>
						<!--<div class="alert alert-warning" role="alert">Студент успішно доданий</div>	-->

						{% block content %}{% endblock content %}

					</div>

				</div>
				<!-- End content-columns -->

				<!-- Start Footer -->
				<div class="row" id="footer">
					<div class="col-xs-12">
						<a id = 'foter' href="/admin">&copy; 2015 Сервіс Обліку Студентів</a>
					</div>
				</div>
				<!-- End Footer -->
		</div>
			<!-- End container -->

		<!-- Javascripts Section -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
		<script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		{% block extra_js %}{% endblock extra_js %}
	</body>
</html>