{% extends "students/base.html" %}
{% load static from staticfiles %}

{% block meta_tittle %}Список іспитів{% endblock meta_tittle %}
{% block tittle %}Список іспитів{% endblock tittle %}

{% block content %}

	<a href="{% url "exams_add" %}" class="btn btn-primary">Додати Іспит</a>

	{% if exams %}
		<!-- Start exam listing -->

		<table class="table">
			{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
			<thead>
				<tr>
					<th>#</th>
					<th>
						<a href="{% url 'exams' %}?order_by=tittle{% if order_by == 'tittle' and reverse != '1' %}&amp;reverse=1{% endif %}">
						Назва предмету
						{% if order_by == 'tittle' and reverse != '1' %}&uarr;
						{% elif order_by == 'tittle' and reverse == '1' %}&darr;
						{% endif %}
						</a>
					</th>
					<th>
						<a href="{% url 'exams' %}?order_by=examtime{% if order_by == 'examtime' and reverse != '1' %}&amp;reverse=1{% endif %}">
						Дата і час проведення
						{% if order_by == 'examtime' and reverse != '1' %}&uarr;
						{% elif order_by == 'examtime' and reverse == '1' %}&darr;
						{% endif %}</a>
					</th>
					<th>
						<a href="{% url 'exams' %}?order_by=teach{% if order_by == 'teach' and reverse != '1' %}&amp;reverse=1{% endif %}">
						Викладач
						{% if order_by == 'teach' and reverse != '1' %}&uarr;
						{% elif order_by == 'teach' and reverse == '1' %}&darr;
						{% endif %}</a>
					</th>
					<th>
						<a href="{% url 'exams' %}?order_by=exam_group{% if order_by == 'exam_group' and reverse != '1' %}&amp;reverse=1{% endif %}">
						Група
						{% if order_by == 'exam_group' and reverse != '1' %}&uarr;
						{% elif order_by == 'exam_group' and reverse == '1' %}&darr;
						{% endif %}</a>
					</th>
					<th>Дії</th>
				</tr>
			</thead>
			{% endwith %}
			<tbody>
			{% for exam in exams %}
				<tr>
					<td>{% if is_paginated %}
							{{ page_obj.start_index|add:forloop.counter|add:"-1" }}
						{% else %}
							{{ forloop.counter }}
						{% endif %}
					</td>
					<td><a href="{% url "exams_edit" exam.id %}">{{exam.tittle}}</a></td>
					<td>{{exam.examtime}}</td>
					<td>{{exam.teach}}</td>
					<td><a href="{% url "groups_edit" exam.exam_group.id %}">{{exam.exam_group}}</a></td>
					<td>
						<div class="btn-group">
						  <button type="button" class="btn btn-default dropdown-toggle"
						   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
						   Дія 
						   <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu">
						    <li><a href="{% url "exams_edit" exam.id %}">Редагувати</a></li>
						    <li><a href="{% url "exams_delete" exam.id %}">Видалити</a></li>
						  </ul>
						</div>
					</td>
				
				</tr>
			{% endfor %}
			</tbody>
		</table>

	{% else %}
	<div class="alert alert-warning">
		Поки немає жодного іспиту в базі. Будь-ласка,
		<a href="{% url "exams_add" %}">додайте</a> перший.
	</div>

	{% endif %}


	<!-- Navigations -->
{% with object_list=exams %}
  {% include "students/pagination.html" %}
{% endwith %}

	<!-- Navigations -->
		



{% endblock content %}
