{% extends "students/base.html" %}
{% load static from staticfiles %}

{% block meta_tittle %}Список груп{% endblock meta_tittle %}
{% block tittle %}Групи{% endblock tittle %}

{% block content %}

	<a href="{% url "groups_add" %}" class="btn btn-primary">Додати Групу</a>
	{% if groups %}
	<!-- Start student listing -->
	<table class="table">
		{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
		<thead>
			<tr>
				<th>#</th>
				<th><a href="{% url 'groups' %}?order_by=tittle{% if order_by == 'tittle' and reverse != '1' %}&amp;reverse=1{% endif %}">
					Назва
					{% if order_by == 'tittle' and reverse != '1' %}&uarr;
					{% elif order_by == 'tittle' and reverse == '1' %}&darr;
					{% endif %}</a>
				</th>
				<th><a href="{% url 'groups' %}?order_by=leader{% if order_by == 'leader' and reverse != '1' %}&amp;reverse=1{% endif %}">
					Староста 
					{% if order_by == 'leader' and reverse != '1' %}&uarr;
					{% elif order_by == 'leader' and reverse == '1' %}&darr;
					{% endif %}</a>
				</th>
				<th>Дії</th>
			</tr>
		</thead>
		{% endwith %}
		<tbody>
			{% for group in groups %}
			<tr>
			<td>{% if is_paginated %}
					{{ page_obj.start_index|add:forloop.counter|add:"-1" }}
				{% else %}
					{{ forloop.counter }}
				{% endif %}
			</td>
				<td><a href="{% url "groups_edit" group.id %}">{{ group.tittle }}</a></td>
				<td>{% if group.leader %}<a href="{% url "students_edit" group.leader.id %}">{{ group.leader }}</a>{% else %}Немає{% endif %}</td>
				<td>
						<div class="btn-group">
						  <button type="button" class="btn btn-default dropdown-toggle"
						   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
						   Дія 
						   <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu">
						    <li><a href="{% url "groups_edit" group.id %}">Редагувати</a></li>
						    <li><a href="{% url "journal" %}">Відвідування</a></li>
						    <li><a href="{% url "groups_delete" group.id %}">Видалити</a></li>
						  </ul>
						</div>
					</td>
				
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<div class="alert alert-warning">
		Поки немає жодної групи в базі. Будь-ласка,
		<a href="{% url "groups_add" %}">додайте</a> першу.
	</div>
	{% endif %}
	
	<!-- End student listing -->

	<!-- Navigations -->
{% with object_list=groups %}
  {% include "students/pagination.html" %}
{% endwith %}

	<!-- Navigations -->


{% endblock content %}
