{% extends "students/base.html" %}
{% load static from staticfiles %}

{% block meta_tittle %}Список груп{% endblock meta_tittle %}
{% block tittle %}Групи{% endblock tittle %}

{% block content %}

	<a href="#" class="btn btn-primary">Додати Групу</a>
	{% if groups %}
	<!-- Start student listing -->
	<table class="table">
		{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
		<thead>
			<tr>
				<th>#</th>
				<th><a href="{% url 'groups' %}?order_by=tittle{% if order_by == 'tittle' and reverse != '1' %}&amp;reverse=1{% endif %}">
					Назва
					{% if order_by == 'tittle' and reverse != '1' %}&uarr;
					{% elif order_by == 'tittle' and reverse == '1' %}&darr;
					{% endif %}</a>
				</th>
				<th><a href="{% url 'groups' %}?order_by=leader{% if order_by == 'leader' and reverse != '1' %}&amp;reverse=1{% endif %}">
					Староста 
					{% if order_by == 'leader' and reverse != '1' %}&uarr;
					{% elif order_by == 'leader' and reverse == '1' %}&darr;
					{% endif %}</a>
				</th>
				<th>Дії</th>
			</tr>
		</thead>
		{% endwith %}
		<tbody>
			{% for group in groups %}
			<tr>
			<td>{% for num in numbs %}{% if forloop.counter == forloop.parentloop.counter %}
				{{num}}
				{% endif %}{% endfor %}</td>
				<td><a href="{% url "groups_edit" group.id %}">{{ group.tittle }}</a></td>
				<td>{% if group.leader %}<a href="{% url "students_edit" group.leader.id %}">{{ group.leader }}</a>{% else %}Немає{% endif %}</td>
				<td>
						<div class="btn-group">
						  <button type="button" class="btn btn-default dropdown-toggle"
						   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
						   Дія 
						   <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu">
						    <li><a href="{% url "groups_edit" group.id %}">Редагувати</a></li>
						    <li><a href="{% url "journal" %}">Відвідування</a></li>
						    <li><a href="{% url "groups_delete" group.id %}">Видалити</a></li>
						  </ul>
						</div>
					</td>
				
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>Нажаль, база груп пуста </p>
	{% endif %}
	
	<!-- End student listing -->
	{% if groups.has_other_pages %}
	{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
	<nav>
	  <ul class="pagination">
	    <li>
	      <a href="{% url "groups" %}?page=1&amp;order_by={% if order_by == '' %}tittle{% else %}{{ order_by }}{% endif %}{% if reverse %}&amp;reverse={{ reverse }}{% endif %}">&laquo;</a>
	    </li>
	    {% for p in groups.paginator.page_range %}
	    <li {% if groups.number == p %}class="active"{% endif %}>
	      <a href="{% url "groups" %}?page={{ p }}&amp;order_by={% if order_by == '' %}tittle{% else %}{{ order_by }}{% endif %}{% if reverse %}&amp;reverse={{ reverse }}{% endif %}">{{ p }}</a>
	    </li>
	    {% endfor %}
	    <li>
	      <a href="{% url "groups" %}?page={{ groups.paginator.num_pages }}&amp;order_by={% if order_by == '' %}tittle{% else %}{{ order_by }}{% endif %}{% if reverse %}&amp;reverse={{ reverse }}{% endif %}">
	        &raquo;</a>
	    </li>
	  </ul>
	</nav>
	{% endwith %}
	{% endif %}
{% endblock content %}
