{% extends "students/base.html" %}
{% load static from staticfiles %}

{% block meta_tittle %}Список студентів{% endblock meta_tittle %}
{% block tittle %}База студентів{% endblock tittle %}

{% block content %}
	<div class="alert alert-danger" id="ajax-error-indicator">
		Помилка на сервері. Спробуйте, будь-ласка, пізніше.
	</div>


	<a href="{% url "students_add" %}" class="btn btn-primary" id="addButton">Додати студента</a>
	{% if students %}
	<!-- Start student listing -->

	<table class="table">
		{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
		<thead>
			<tr>
				<th>#</th>
				<th>Фото</th>
				<th><a href="{% url 'home' %}?order_by=last_name{% if order_by == 'last_name' and reverse != '1' %}&amp;reverse=1{% endif %}" id="ordering">
					Прізвище
					{% if order_by == 'last_name' and reverse != '1' %}&uarr;
					{% elif order_by == 'last_name' and reverse == '1' %}&darr;
					{% endif %}</a>
				</th>
				<th><a href="{% url 'home' %}?order_by=first_name{% if order_by == 'first_name' and reverse != '1' %}&amp;reverse=1{% endif %}" id="ordering">
					Ім'я
					{% if order_by == 'first_name' and reverse != '1' %}&uarr;
					{% elif order_by == 'first_name' and reverse == '1' %}&darr;
					{% endif %}</a>
				</th>
				<th><a href="{% url 'home' %}?order_by=ticket{% if order_by == 'ticket' and reverse != '1' %}&amp;reverse=1{% endif %}" id="ordering">
					№ білету
					{% if order_by == 'ticket' and reverse != '1' %}&uarr;
					{% elif order_by == 'ticket' and reverse == '1' %}&darr;
					{% endif %}</a>
				</th>
				<th>Дії</th>
			</tr>
		</thead>
		{% endwith %}
		<tbody>
			{% for student in students %}
			<tr>
				<td>{% if is_paginated %}
					{{ page_obj.start_index|add:forloop.counter|add:"-1" }}
				{% else %}
					{{ forloop.counter }}
				{% endif %}</td>
				<td>
				{% if student.photo %}
				<img src="{{ student.photo.url }}" width="30px" height="30px" class="img-circle">
				{% else %}
				<img src="{% static "img/default_user.jpg" %}" width="30px" height="30px" class="img-circle">
				{% endif %}
				</td>
				<td><a href="{% url "students_edit" student.id %}" 
					class="student-edit-form-link">{{ student.last_name }}</a>
				</td>
				<td><a href="{% url "students_edit" student.id %}" 
					class="student-edit-form-link">{{ student.first_name }}</a>
				</td>
				<td>{{student.ticket}}</td>
				<td>
					<div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" 
					  	aria-haspopup="true" aria-expanded="false">
					    Дія <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu">
					    <li><a href="{% url "students_edit" student.id %}" 
					    	class="student-edit-form-link">Редагувати</a>
					    </li>
					    <li><a href="{% url "stud_journal" student.id %}">Відвідування</a></li>
					    <li><a href="{% url "students_delete" student.id %}">Видалити</a></li>
					  </ul>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	{% else %}
		<div class="alert alert-warning">
			Поки немає жодного студента в базі. Будь-ласка,
			<a href="{% url "students_add" %}">додайте</a> першого.
			</div>
	{% endif %}
	<!-- End student listing -->

	<!-- Navigations -->


{% with object_list=students indicator="students" %}

  {% include "students/pagination.html" %}

{% endwith %}
	<!-- Navigations -->

<!--
	<script type="text/javascript">

		$(document).ready(function(){
			var loadmore = 1;
			$('#loadmore').click(function(){
				loadmore++;	
				console.log(loadmore);
			});

			$(window).scroll(function() {
			var height = $(window).height();
			var scroll = $(window).scrollTop();
			var docum = $(document).height();

			if (docum > height) {
				var s = 1;
			}
			console.log(height + " " + scroll + " " + docum);
			});
		});
		
	</script>
-->
{% endblock content %}