<!DOCTYPE html>
<html lang="uk">
	<head>
		<meta charset="UTF-8"/>
		<title>Сервіс Обліку Студентів</title>
		<meta name="description"
		value="Система Обліку Студентів Навчального Закладу" />

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Include Styles -->
		<link rel="stylesheet"
			href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
		<link rel="stylesheet"
			href="./css/main.css">
	</head>

	<body>
		<!-- Start container -->
		<div class="container">
		
			<!-- Start Header -->
			<div class="row" id="header">
				<div class="col-xs-8">
					<h1>Сервіс Обліку Студентів</h1>
				</div>
				<div class="col-xs-4" id="group-selector">
					<strong>Група:</strong>
					<select>
						<option value="">Усі Cтуденти</option>
						<option value="">ДП-22, Superman</option>
						<option value="">ДП-22, Batman</option>
						<option value="">ДП-22, Joker</option>
					</select>
				</div>
			</div>
				<!-- End Header -->

				<!-- Start sub-header -->
				<div class="row" id="sub-header">
					<div class="col-xs-12">
						<ul class="nav nav-tabs" role="tablist">
						  <li role="presentation" class="active"><a href="{% url "home" %}">Студенти</a></li>
						  <li role="presentation"><a href="/journal">Відвідування</a></li>
						  <li role="presentation"><a href="{% url "groups" %}">Групи</a></li>
						</ul>
					</div>
				</div>
				<!-- End sub-header -->

				<!-- Start content-columns -->
				<div class="row" id="content-columns">
					<div class="col-xs-12" id="content-column">
						<div class="alert alert-warning" role="alert">Студент успішно доданий</div>	

						<h2>База студентів</h2>
						<a href="{% url "students_add" %}" class="btn btn-primary">Додати студента</a>
						<!-- Start student listing -->
						<table class="table">
							<thead>
								<tr>
									<th><a href="#">#</a></th>
									<th>Фото</th>
									<th><a href="#">Прізвище&uarr;</a></th>
									<th><a href="#">Ім'я</a></th>
									<th><a href="#">№ Білету</a></th>
									<th>Дії</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td><img src="./img/joker.jpg" width="30px" height="30px" class="img-circle"></td>
									<td><a href="{% url "students_edit" 1 %}">Джокер</a></td>
									<td><a href="{% url "students_edit" 1 %}">Джек</a></td>
									<td>2123</td>
									<td>
										<div class="btn-group">
										  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										    Дія <span class="caret"></span>
										  </button>
										  <ul class="dropdown-menu">
										    <li><a href="{% url "students_edit" 1 %}">Редагувати</a></li>
										    <li><a href="journal/1">Відвідування</a></li>
										    <li><a href="{% url "students_delete" 1 %}">Видалити</a></li>
										  </ul>
										</div>
									
									</td>
								</tr>
								<tr>
									<td>2</td>
									<td><img src="./img/batman.jpg" width="30px" height="30px" class="img-circle"></td>
									<td><a href="#">Уейн</a></td>
									<td><a href="#">Брюс</a></td>
									<td>254</td>
									<td>
										<div class="btn-group">
										  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										    Дія <span class="caret"></span>
										  </button>
										  <ul class="dropdown-menu">
										    <li><a href="#">Редагувати</a></li>
										    <li><a href="#">Відвідування</a></li>
										    <li><a href="#">Видалити</a></li>
										  </ul>
										</div>
									</td>
								</tr>
								<tr>
									<td>3</td>
									<td><img src="./img/superman.jpg" width="30px" height="30px" class="img-circle"></td>
									<td><a href="#">Кент</a></td>
									<td><a href="#">Кларк</a></td>
									<td>5332</td>
									<td>
										<div class="btn-group">
										  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										    Дія <span class="caret"></span>
										  </button>
										  <ul class="dropdown-menu">
										    <li><a href="#">Редагувати</a></li>
										    <li><a href="#">Відвідування</a></li>
										    <li><a href="#">Видалити</a></li>
										  </ul>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- End student listing -->
						<nav>
						  <ul class="pagination">
						    <li class="disabled">
						      <a href="#" aria-label="Previous">
						        <span aria-hidden="true">&laquo;</span>
						      </a>
						    </li>
						    <li><a href="#">1</a></li>
						    <li class="active"><a href="#">2</a></li>
						    <li><a href="#">3</a></li>
						    <li><a href="#">4</a></li>
						    <li><a href="#">5</a></li>
						    <li>
						      <a href="#" aria-label="Next">
						        <span aria-hidden="true">&raquo;</span>
						      </a>
						    </li>
						  </ul>
						</nav>

					</div>

				</div>
				<!-- End content-columns -->

				<!-- Start Footer -->
				<div class="row" id="footer">
					<div class="col-xs-12">
						&copy; 2015 Сервіс Обліку Студентів
					</div>
				</div>
				<!-- End Footer -->
		</div>
			<!-- End container -->

		<!-- Javascripts Section -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
		<script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	</body>
</html>